<div class="animated fadeIn">
  <div class="row">
    <!-- /.col -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Migrane patients
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Social Security Number</th>
                <th>Last Visit</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Kätlin</td>
                <td>Kalamees</td>
                <td>49105115378</td>
                <td>Today</td>
                <td><span class="badge badge-danger">Intense</span> <br /></td>
              </tr>
              <tr>
                <td>Taavi</td>
                <td>Sepp</td>
                <td>37102035427</td>
                <td>30.11.2018</td>
                <td><span class="badge badge-warning">Moderate</span></td>
              </tr>
              <tr>
                <td>Tõnis</td>
                <td>Naarits</td>
                <td>38812305434</td>
                <td>28.11.2018</td>
                <td><span class="badge badge-success">Mild</span></td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
